<% if (results) { %>
  <%- include('componentlogin/navbar.ejs') -%>
  <br>
  <% if (resultblog.length > 0) { %>
    <div class="container">
      <table class="table table-hovered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
          </tr>
        </thead>
        <tbody>
          <% resultblog.forEach((blog,index) => { %>
            <tr>
              <th scope="row"><a href="/blog/<%= blog.IDBlogStudent %>"><%= blog.NameBlog %></a></th>
              <th><%= blog.IDStudentOrTeacher %></th>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <a href="/blog/add">+ AddBlog</a>
    </div>
  <% } else { %>
    <div class="container">
      <p>No Blog</p>
      <a href="/blog/add">+ AddBlog</a>
    </div>
  <% } %>
    


<% } else { %>
    <%- include('component/navbar.ejs') -%>
    <br>
    <% if (resultblog.length > 0) { %>
      <div class="container">
        <table class="table table-hovered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Author</th>
            </tr>
          </thead>
          <tbody>
            <% resultblog.forEach((blog,index) => { %>
              <tr>
                <th scope="row"><a href="/blog/<%= blog.IDBlogStudent %>"><%= blog.NameBlog %></a></th>
                <th><%= blog.IDStudentOrTeacher %></th>
              </tr>
            <% }); %>
          </tbody>
        </table>
        <a href="/blog/">+ AddBlog</a>
      </div>
    <% } else { %>
      <div class="container">
        <p>No Blog</p>
        <a href="/blog/">+ AddBlog</a>
      </div>
    <% } %>
<% } %>
