<link href="https://fonts.googleapis.com/css?family=Pridi&display=swap" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/content.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    body {
        font-family: 'Pridi', serif;
    }
    .boxmodel {
        border: 3px solid #223c50;
        background-color: white;
        border-radius: 5px;
        width: auto;
    }
    .boxmodel:hover {
        opacity: 0.8;
        border: 3px solid #223c50;
        background-color: white;
        border-radius: 5px;
        width: auto;
    }
    .boxmodel img {
        width: 100%;
        height: 400px;
    }
    #tx:visited {
        text-decoration: none;
        color:white;
    }
    #tx:hover {
        color:#85b9c5;
        text-decoration: none;
    }
    #tx1:visited {
        color:black;
        text-decoration: none;
    }
    #tx1:hover {
        color: black;
        text-decoration: underline;
        text-shadow: black;
    }
</style>
 <!-- JUMBOTON -->
 <div class="jumbotron jumbotron-fluid" style="margin-top: 30px;">
    <div class="container">
      <h1 class="display-4">IN THE FUTURE</h1>
      <p class="lead">IS PROGRAMMER.</p>
    </div>
  </div>
  <!-- BOTTOM JUMBOTON  PART ON -->
  <div class="container">
    <div class="row">
        <div class="col-8" style="padding-left: 50px;padding-right: 50px;">
            <div style="text-align: center;">
                <h1>TOP 5 กระทู้</h1>
                <div>
                    <div class="boxmodel">
                        <div >
                            <img src="https://www.perforce.com/sites/default/files/image/2018-07/image-blog-will-ai-replace-programmers.jpg" >
                        </div>
                        <div  style="color: black;text-align: left;margin: 10px;">
                            <div class="row" style="margin-left: 20px;">
                                <div class="col-1" style="text-align: center;">
                                    <h4>1</h4>
                                </div>
                                <div class="col-11">
                                    <% if(resultblog.length > 0) { %>
                                        <h4><a id="tx1" href="/blog/<%= resultblog[0].IDBlogStudent %>"><%= resultblog[0].NameBlog %></a></h4>
                                    <% } else { %>
                                        <h4>ไม่มีข้อมูล</h4>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 2 3 4 5 6 -->
                    <div style="margin-top: 20px;">
                        <div style="border: 3px solid #223c50;border-radius: 5px;margin-top: 20px;">
                            <div style="color: black;text-align: left;margin: 10px;">
                                <div class="row" style="margin-left: 20px;">
                                    <div class="col-1" style="text-align: center;">
                                        <h4>2</h4>
                                    </div>
                                    <div class="col-11">
                                        <% if(resultblog.length > 1) { %>
                                            <h4><a id="tx1" href="/blog/<%= resultblog[1].IDBlogStudent %>"><%= resultblog[1].NameBlog %></a></h4>
                                        <% } else { %>
                                            <h4>ไม่มีข้อมูล</h4>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="border: 3px solid #223c50;border-radius: 5px;margin-top: 20px;">
                            <div style="color: black;text-align: left;margin: 10px;">
                                <div class="row" style="margin-left: 20px;">
                                    <div class="col-1" style="text-align: center;">
                                        <h4>3</h4>
                                    </div>
                                    <div class="col-11">
                                        <% if(resultblog.length > 2) { %>
                                            <h4><a id="tx1" href="/blog/<%= resultblog[2].IDBlogStudent %>"><%= resultblog[2].NameBlog %></a></h4>
                                        <% } else { %>
                                            <h4>ไม่มีข้อมูล</h4>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="border: 3px solid #223c50;border-radius: 5px;margin-top: 20px;">
                            <div style="color: black;text-align: left;margin: 10px;">
                                <div class="row" style="margin-left: 20px;">
                                    <div class="col-1" style="text-align: center;">
                                        <h4>4</h4>
                                    </div>
                                    <div class="col-11">
                                        <% if(resultblog.length > 3) { %>
                                            <h4><a id="tx1" href="/blog/<%= resultblog[3].IDBlogStudent %>"><%= resultblog[3].NameBlog %></a></h4>
                                        <% } else { %>
                                            <h4>ไม่มีข้อมูล</h4>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="border: 3px solid #223c50;border-radius: 5px;margin-top: 20px;">
                            <div style="color: black;text-align: left;margin: 10px;">
                                <div class="row" style="margin-left: 20px;">
                                    <div class="col-1" style="text-align: center;">
                                        <h4>5</h4>
                                    </div>
                                    <div class="col-11">
                                        <% if(resultblog.length > 4) { %>
                                            <h4><a id="tx1" href="/blog/<%= resultblog[4].IDBlogStudent %>"><%= resultblog[4].NameBlog %></a></h4>
                                        <% } else { %>
                                            <h4>ไม่มีข้อมูล</h4>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BOTTOM JUMBOTON LEFT PART ON -->
        <div class="col-4">
            <br><br>
            <div style="border: 1px solid #223c50; background-color: #223c50;color: white;border-radius: 5px;margin-top: 10px;">
                <div class="row" style="margin-top: 10px;margin-left: 2px;">
                    <div class="col">
                        <h5>วิชาที่เปิดสอน</h5>
                    </div>
                    <div class="col" style="margin-top: 5px;margin-left: 2px;text-decoration: underline;text-align: right;margin-right: 10px;">
                        <a href="/study" style="text-decoration: none;color: white;"><h6>ดูทั้งหมด</h6></a>
                    </div>
                </div>
                <div style="border-bottom: 1px solid #6b7d8b;margin: 10px;">
                    <div style="margin-left: 20px;">
                        <% if (resultclass.length > 0){ %>
                            <h6 style="font-size: 20px;"><a href="/study/<%= resultclass[0].IDRoom %>"  id="tx" ><%= resultclass[0].NameClassroom %></a></h6>
                        <% } else { %>
                            <h6 style="font-size: 20px;">ไม่มีข้อมูล</h6>
                        <% } %>
                    </div>
                </div>
                <div  style="border-bottom: 1px solid #6b7d8b;margin: 15px;">
                    <div style="margin-left: 20px;" >
                        <% if (resultclass.length > 1){ %>
                            <h6 style="font-size: 20px;" ><a href="/study/<%= resultclass[1].IDRoom %>" id="tx"><%= resultclass[1].NameClassroom %></a></h6>
                        <% } else { %>
                            <h6 style="font-size: 20px;">ไม่มีข้อมูล</h6>
                        <% } %>
                    </div>
                </div>
                <div style="border-bottom: 1px solid #6b7d8b;margin: 15px;">
                    <div style="margin-left: 20px;" >
                        <% if (resultclass.length > 2){ %>
                            <h6 style="font-size: 20px;"><a href="/study/<%= resultclass[2].IDRoom %>" id="tx"><%= resultclass[2].NameClassroom %></a></h6>
                        <% } else { %>
                            <h6 style="font-size: 20px;">ไม่มีข้อมูล</h6>
                        <% } %>
                    </div>
                </div>
                <div style="border-bottom: 1px solid #6b7d8b;margin: 15px;">
                    <div style="margin-left: 20px;">
                        <% if (resultclass.length > 3){ %>
                            <h6 style="font-size: 20px;"><a href="/study/<%= resultclass[3].IDRoom %>" id="tx"><%= resultclass[3].NameClassroom %></a></h6>
                        <% } else { %>
                            <h6 style="font-size: 20px;">ไม่มีข้อมูล</h6>
                        <% } %>
                    </div>
                </div>
                <div  style="border-bottom: 1px solid #6b7d8b;margin: 15px;">
                    <div style="margin-left: 20px;" >
                        <% if (resultclass.length > 4){ %>
                            <h6 style="font-size: 20px;"><a href="/study/<%= resultclass[4].IDRoom %>" id="tx"><%= resultclass[4].NameClassroom %></a></h6>
                        <% } else { %>
                            <h6 style="font-size: 20px;">ไม่มีข้อมูล</h6>
                        <% } %>  
                    </div>
                </div>
                <div style="border-bottom: 1px solid #6b7d8b;margin: 15px;">
                    <div style="margin-left: 20px;" >
                        <% if (resultclass.length > 5){ %>
                            <h6 style="font-size: 20px;"><a id="tx" href="/study/<%= resultclass[5].IDRoom %>"><%= resultclass[5].NameClassroom %></a></h6>
                        <% } else { %>
                            <h6 style="font-size: 20px;">ไม่มีข้อมูล</h6>
                        <% } %> 
                    </div>
                </div>
            </div>
            <!-- BOTTOM JUMBOTON LEFT PART BOTTOM -->
            <div style="border: 3px solid #223c50;border-radius: 5px;margin-top: 40px;background-color: #223c50;color: white;">
                    <div class="row" style="margin-top: 10px;margin-left: 2px;">
                        <div class="col">
                            <h5>กระทู้มาใหม่</h5>
                        </div>
                    <div class="col" style="margin-top: 5px;margin-left: 2px;text-decoration: underline;text-align: right;margin-right: 10px;">
                        <a href="/blog" style="text-decoration: none;color: white;" ><h6>ดูทั้งหมด</h6></a>
                    </div>
                </div>
            </div>
            <div style="border: 3px solid #223c50;border-radius: 5px;margin-top: 5px;background-color: #223c50;color: white;">
                <div style="border-bottom: 1px solid #6b7d8b;margin: 10px;">
                    <div style="margin-left: 20px;">
                        <% if (resultblog.length > 0){ %>
                            <h6 style="font-size: 20px;"><a href="/blog/<%= resultblog[0].IDBlogStudent %>" id="tx"><%= resultblog[0].NameBlog %></a></h6>
                        <% } else { %>
                            <h6 style="font-size: 20px;">ไม่มีข้อมูล</h6>
                        <% } %> 
                    </div>
                </div>
                <div  style="border-bottom: 1px solid #6b7d8b;margin: 15px;">
                    <div style="margin-left: 20px;" >
                        <% if (resultblog.length > 1){ %>
                            <h6 style="font-size: 20px;"><a id="tx" href="/blog/<%= resultblog[1].IDBlogStudent %>"><%= resultblog[1].NameBlog %></a></h6>
                        <% } else { %>
                            <h6 style="font-size: 20px;">ไม่มีข้อมูล</h6>
                        <% } %>  
                    </div>
                </div>
                <div style="border-bottom: 1px solid #6b7d8b;margin: 15px;">
                    <div style="margin-left: 20px;" >
                        <% if (resultblog.length > 2){ %>
                            <h6 style="font-size: 20px;"><a id="tx" href="/blog/<%= resultblog[2].IDBlogStudent %>"><%= resultblog[2].NameBlog %></a></h6>
                        <% } else { %>
                            <h6 style="font-size: 20px;">ไม่มีข้อมูล</h6>
                        <% } %>  
                    </div>
                </div>
                <div style="border-bottom: 1px solid #6b7d8b;margin: 15px;">
                    <div style="margin-left: 20px;">
                        <% if (resultblog.length > 3){ %>
                           <h6 style="font-size: 20px;"><a id="tx" href="/blog/<%= resultblog[3].IDBlogStudent %>"><%= resultblog[3].NameBlog %></a></h6>
                        <% } else { %>
                            <h6 style="font-size: 20px;">ไม่มีข้อมูล</h6>
                        <% } %> 
                    </div>
                </div>
                <div  style="border-bottom: 1px solid #6b7d8b;margin: 15px;">
                    <div style="margin-left: 20px;" >
                        <% if (resultblog.length > 4){ %>
                            <h6 style="font-size: 20px;"><a id="tx" href="/blog/<%= resultblog[4].IDBlogStudent %>"><%= resultblog[4].NameBlog %></a></h6>
                        <% } else { %>
                            <h6 style="font-size: 20px;">ไม่มีข้อมูล</h6>
                        <% } %>    
                    </div>
                </div>
                <div style="border-bottom: 1px solid #6b7d8b;margin: 15px;">
                    <div style="margin-left: 20px;" >
                        <% if (resultblog.length > 5){ %>
                            <h6 style="font-size: 20px;"><a id="tx" href="/blog/<%= resultblog[5].IDBlogStudent %>"><%= resultblog[5].NameBlog %></a></h6>
                        <% } else { %>
                            <h6 style="font-size: 20px;">ไม่มีข้อมูล</h6>
                        <% } %>    
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>    
  </div>